USE [master]
GO
/****** Object:  Database [AuctionProduct]    Script Date: 09/11/2025 8:42:07 PM ******/
CREATE DATABASE [AuctionProduct]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AuctionProduct', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AuctionProduct.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AuctionProduct_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AuctionProduct_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AuctionProduct].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AuctionProduct]
GO
/****** Object:  Table [dbo].[Daugia]    Script Date: 09/11/2025 8:42:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daugia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaProduct] [int] NULL,
	[TenNguoiDauGia] [nvarchar](100) NULL,
	[GiaHienTai] [decimal](18, 2) NULL,
	[Note] [nvarchar](255) NULL,
	[IP] [nvarchar](45) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 09/11/2025 8:42:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[MaProduct] [int] IDENTITY(1,1) NOT NULL,
	[TenProduct] [nvarchar](100) NULL,
	[GiaKhoiDiem] [decimal](18, 2) NULL,
	[GiaHienTai] [decimal](18, 2) NULL,
	[TenNguoiDauGia] [nvarchar](100) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[MoTa] [nvarchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Daugia] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Daugia]  WITH CHECK ADD FOREIGN KEY([MaProduct])
REFERENCES [dbo].[Product] ([MaProduct])
GO
USE [master]
GO
